* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.forward-btn {
  background: url(./assets/forward-button.svg)  no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  align-self: flex-end;
}

.go-back {
  background: url(./assets/back.svg)  no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.nav-mic {
  background: url(./assets/mic.svg)  no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.nav-gear {
  background: url(./assets/gear.svg)  no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.mic-gear {
  display: flex;
  gap: 20px;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #dd2166;
  padding: 5px 10px 5px 10px;
}

.category-box {
  display: flex;
  flex-direction: column;
  background-color: #fc4f91;
  color: #fff;
  text-align: right;
  padding: 10px;
}

.category-box:nth-child(odd) {
  background-color: #dd2166;
}

.coin {
  background: url(./assets/coin.svg)  no-repeat center center/cover;
  width: 124px;
  height: 124px;
  display: block;
}

.coin-icon {
  width: 100px;
}

.details-wrapper {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  background-color: #dd2166;
  color: #fff;
}

.category-grid {
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px; */
}

.coin-name {
  font-size: 26px;
  font-weight: 800;
  margin: 2px;
}

.coins-length {
  font-size: 24px;
  margin: 0;
}
