* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.forward-btn {
  background: url(./assets/forward-button.svg)  no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}

.category-box {
  display: flex;
  background-color: #fc4f91;
  color: #fff;
}

.category-box:nth-child(odd) {
  background-color: #dd2166;
}

.coin {
  background: url(./assets/coin.svg)  no-repeat center center/cover;
  width: 124px;
  height: 124px;
  display: block;
}
